@media only screen and (max-width: 600px) {
    .card .user-info .user-name{
        font-size: 10px !important;
        color:var(--button);
    
    }
    .card  .user .user-info{
        width: 60%;
        margin:0 2px 0 0 !important ;
    }
    .card .user-info .user-name span{
        font-size: 12px !important;
        color:var(--head);
        text-transform: capitalize;
    }
    .user-modified{
        margin-top: 2px;
        font-size: 10px !important;
        color:var(--button) !important;
    }
    .user-modified span{
        font-size: 10px !important;
        color:var(--head);
    
    }

    .card .user  .user-properties .stars .fa-star{
        margin-left: 0.2rem !important;
        font-size: 1rem !important;
        color: #c77e01;
       
    }
    .card .user  .user-properties .stars .num-stars{
        font-size: 10.5rem !important;
    }
    .card .user  .user-properties .gitHub .fab{
        font-size: 1rem !important;
        color:var(--paragraph) !important;
        opacity: 0.8;
        color: yellow;
    }
  
    .card .user  .user-properties .favourate .fa-heart{
        font-size: 1rem !important;
        color: rgb(212, 59, 59);
        cursor: pointer;
    
    }

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media (min-width: 600px) {
    .card .user-info .user-name{
        font-size: 12px !important;
        color:var(--button);
    
    }
    .card .user-info .user-name span{
        font-size: 24px;
        color:var(--head);
        text-transform: capitalize;
    }
    .user-modified{
        font-size: 16px;
        color:var(--button) !important;
    }
    .user-modified span{
        font-size: 16px;
        color:var(--head);
    
    }
    .card .user  .user-properties .item{
        margin: 0 4px;
    }
    .card .user  .user-properties .stars .fa-star{
        margin: 0 0.25rem;
        font-size: 1rem;
        color: #c77e01;
       
    }
    .card .user  .user-properties .stars .num-stars{
        font-size: 1rem;
    }
    .card .user  .user-properties .gitHub .fab{
        font-size: 1rem;
        color:var(--paragraph) !important;
        opacity: 0.8;
        color: yellow;
    }
  
    .card .user  .user-properties .favourate .fa-heart{
        font-size: 1rem;
        color: rgb(212, 59, 59);
        cursor: pointer;
    
    }
 

}


/* Large devices (laptops/desktops, 992px and up) */

body{
    font-family: 'Nunito', sans-serif;}
.card{
    margin-bottom: 20px;
    border:none;
    padding:0.5rem ;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row; 
    background-color: var(--back);
    border-radius: 10px;
    -webkit-box-shadow:0 3px 2px rgba(0, 0, 0, 0.2) ;
            box-shadow:0 3px 2px rgba(0, 0, 0, 0.2) ;
}
.card .user-avatar{
    padding: 1% 0;
    width: 120px;
    border-radius: 10px;
    -webkit-box-shadow:0 3px 6px rgba(0,0,0,0.3) ;
            box-shadow:0 3px 6px rgba(0,0,0,0.3) ;
}
.card .user{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: calc(100% - 120px);
    margin:0 0px 0 20px ;
}

.card  .user .user-info{
    width: 60%;
    margin:0 24px 0 0 ;
}
.card .user-info .user-name{
    font-size: larger;
    color:var(--button);

}
.card .user-info .user-name span{
    font-size: larger;
    color:var(--head);
    text-transform: capitalize;
}
.user-modified{
    font-size: medium;
    color:var(--button) !important;
}
.user-modified span{
    font-size: medium;
    color:var(--head);

}
.card .user  .user-properties{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 35%;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.card .user  .user-properties{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
}
.card .user  .user-properties .item{
    margin: 0 1rem;
}
.card .user  .user-properties .stars .fa-star{
    margin: 0 1rem;
    font-size: 1.5rem;
    color: #c77e01;
   
}
.card .user  .user-properties .stars img{
    width: 40px;
    
}
.card .user  .user-properties .stars .num-stars{
    font-size: 1rem;
}
.card .user  .user-properties .gitHub .fab{
    font-size: 1.5rem;
    color:var(--paragraph) !important;
    opacity: 0.8;
    color: yellow;
}
.card .user  .user-properties .gitHub .fab:hover{
    font-size: 1.5rem;
    color:var(--paragraph) !important;
    opacity: 1;
}
.card .user  .user-properties .favourate .fa-heart{
    font-size: 1.5rem;
    color: rgb(212, 59, 59);
    cursor: pointer;

}
.card .user  .user-properties .favourate .fa-heart:hover{
    font-size: 1.5rem;
    color: rgb(212, 59, 59);
}