
.search{
    position: relative;
    margin: 20px 0;
 }
 .search .search-icon{
     position: absolute;
     display: -webkit-box;
     display: -ms-flexbox;
     display: flex;
     -webkit-box-pack: center;
         -ms-flex-pack: center;
             justify-content: center;
     -webkit-box-align: center;
         -ms-flex-align: center;
             align-items: center;
     right: 11%;
     width: 60%;
     top: 1px;
     height: 38px;
     background-color: var(--button);
     border-radius: 19px;
     -webkit-transition: all 0.5s linear;
     -o-transition: all 0.5s linear;
     transition: all 0.5s linear;
     color: var(--button-text);
     cursor: pointer;
 }
 .search:hover .search-icon{
     -webkit-transform: translateX(2%);
         -ms-transform: translateX(2%);
             transform: translateX(2%);
     border-radius: 19px;
     width: 20%;
     -webkit-transition: all 0.5s linear;
     -o-transition: all 0.5s linear;
     transition: all 0.5s linear;
 }
 .search:active .search-icon{
     -webkit-transform: translateX(2%);
         -ms-transform: translateX(2%);
             transform: translateX(2%);
     border-radius: 19px;
     width: 20%;
     -webkit-transition: all 0.5s linear;
     -o-transition: all 0.5s linear;
     transition: all 0.5s linear;
 }
 .search-bar:focus .search-icon{
     -webkit-transform: translateX(2%);
         -ms-transform: translateX(2%);
             transform: translateX(2%);
     border-radius: 19px;
     width: 20%;
     -webkit-transition: all 0.5s linear;
     -o-transition: all 0.5s linear;
     transition: all 0.5s linear;
 }
 .search-bar{
     background: var(--back);
     border: none;
     outline: none;
     width: 80%;
     height: 40px;
     border-radius: 20px;
     padding:1rem 2rem;
     color: var(--button);
     font-size: 1.1rem;
     font-weight: 400;
     opacity: 0.8;
     -webkit-transition: all 0.5s linear;
     -o-transition: all 0.5s linear;
     transition: all 0.5s linear;
     -webkit-box-shadow:0 3px 5px rgba(0,0,0,0.2) ;
             box-shadow:0 3px 5px rgba(0,0,0,0.2) ;
 }
 .search-bar:hover{
     background: var(--back);
     border: none;
     outline: none;
     opacity: 1;
     -webkit-transition: all 0.5s linear;
     -o-transition: all 0.5s linear;
     transition: all 0.5s linear;
     -webkit-box-shadow:0 3px 5px rgba(14, 18, 83, 0.5) ;
             box-shadow:0 3px 5px rgba(14, 18, 83, 0.5) ;
 
 }
 .search-bar:focus{
     background: var(--back);
     border: none;
     outline: none;
     opacity: 1;
     -webkit-transition: all 0.5s linear;
     -o-transition: all 0.5s linear;
     transition: all 0.5s linear;
     -webkit-box-shadow:0 3px 5px rgba(14, 18, 83, 0.5) ;
             box-shadow:0 3px 5px rgba(14, 18, 83, 0.5) ;
 
     
 }
 .mess{
     margin: 0;
     padding: 1rem;
 }