*{
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}
body{
    overflow-x: hidden;

}
.dark{
      --back:#16161a;
    --head:#fffffe;
    --paragraph:#94a1b2;
    --button:#7f5af0;
    --button-text:#fffffe;
    --second:#72757e;
    --stroke:#010101;
    --back-heads:#525252
}
.light{
    --back:#fffffe;
    --head:#2b2c34;
    --paragraph:#2b2c34;
    --button:#6246ea;
    --button-text:#fffffe;
    --second:#d1d1e9;
    --stroke:#2b2c34;
    --back-heads:#f2f3f7
    
}
.container{
    width: 90%;
    margin: auto;
    background-color: var(--first) !important;
    color: var(--second) !important;
}
.btn{
    padding:1rem 0.5rem ;
    outline: none;
    border: none;
    cursor:pointer;
    font-size: 1.25rem;
    background: var(--button);
    color: var(--button-text);
    opacity: 0.8;
    font-weight: 500;
    border: 2px solid rgba(69, 69, 219, 0);

}
.btn:hover{   
    background: var(--button);
    color: var(--button-text);
    opacity: 1;
    cursor:pointer;
    border: 2px solid var(--stroke);
}
.btn:active{
    border: 2px solid var(--stroke);
    cursor:pointer;

}
a{
    text-decoration: none;
}
* {
    -webkit-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
}
.btn-toggle{
    position: fixed;
    left: 0;
    top: 10%;
    background: var(--stroke);
    color: white;
    
}