a.active{
    color: var(--head) !important;
}
nav{
    width: 100vw;
    opacity: 0.8;
    background-color: var(--button);
    color: var(--button-text);
    padding: 1rem 0;
    height: 80px;
    -webkit-transition: all 0.5s linear;
    -o-transition: all 0.5s linear;
    transition: all 0.5s linear;
}
nav:hover{
    opacity: 1;
    -webkit-transition: all 0.5s linear;
    -o-transition: all 0.5s linear;
    transition: all 0.5s linear;

}
nav .container{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}
.educator{
    width: 50px;
    height:50px;
}
nav .container .brand-logo{
    width: 20%;
}
nav .container .brand-logo span{
    font-size: 1.5rem;
    color: var(--button-text);
}
nav .container .links{
   width: 80%;
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-pack: end;
       -ms-flex-pack: end;
           justify-content: flex-end;
   color: var(--button-text);
}
nav .container .links .nav-link{
    margin:0 1.5rem ;
    font-size: 1.2rem;
    color: var(--button-text);
}